<%= form_for @state, :html=>{ :multipart => true } do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
    <%= field_set_tag do %>
      <%= label_tag(:q, "Name: ") %>
      <%= f.text_field :state_name %>
    <% end %>
    <%= field_set_tag do %>
      <%= label_tag(:q, "Primary or Caucus: ") %>
      <%= f.text_field :p_or_c %>
    <% end %>
    <%= field_set_tag do %>
      <%= label_tag(:q, "Date: ") %>
      <%= f.date_field :date %>
    <% end %>
    <%= field_set_tag do %>
      <%= label_tag(:q, "Total Number of Delegates: ") %>
      <%= f.number_field :delegates %>
    <% end %>
    <%= field_set_tag do %>
      <%= label_tag(:q, "Map: ") %>
        <%= f.file_field(:map) %>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>