<p id="notice"><%= notice %></p>
<div class="row"><h1><%= @state.state_name %></h1></div>
<br>
<div class="row">
	<div class="small-3 columns">
		<div class="row"><b>Primary or Caucus:</b> <%=  @state.p_or_c %></div><br>
		<div class="row"><b>Date:</b> <%= @state.date %></div><br>
		<div class="row"><b>Delegates:</b> <%= @state.delegates %></div><br>
	</div>
	<div class="small-9 columns">
		<%= link_to (image_tag @state.map.url(:medium)), @state.map.url(:original) %>
	</div>
</div>
<br>
<div class="row"><%= link_to 'Edit', edit_state_path(@state) %> |  
<%= link_to 'Back', states_path %></div>
